/* 定义body颜色 */
@body-bg:#041450;
@border-color:#00b0f0;
@border-width:1px;
/* 定义side底部边框颜色 */
@side-c-c:#155890;
@side-c-w:2px;



body{
    background:@body-bg url('./../images/bg2.png') no-repeat center center;
    background-size: cover;
}
.yb-{
    &top{
        height: 123px;
        width: 100%;
        background: url('./../images/top-bg.png') no-repeat center center;
        background-size: cover;
        text-align: center;
        vertical-align: middle;
    }
    &world-bg{
        margin-top: 30px;
    }
    &box{
        width: 1822px;
        height: auto;
        margin: -30px auto 0;
    }
    &sides{
        width: 324px;
        height: auto;
        position: relative;
        border: 1px solid @border-color;

        .yb-side-arrow{
            width: 32px;
            height: 32px;
            position: absolute;
            background-image:url('./../images/L-C.png');
            background-repeat: no-repeat;
            
        }

        .a-l-t{
            left: -2px;
            top: -2px;
            background-position: 0 0;
        }
        .a-r-t{
            right: -2px;
            top: -2px;
            background-position: 0 -32px;
        }
        .a-r-b{
            right: -2px;
            bottom: -2px;
            background-position: 0 -64px;
        }
        .a-l-b{
            left: -2px;
            bottom:-2px;
            background-position: 0 -96px;
        }

        .yb-side-chart-c:last-child{
            border-bottom: none;
        }
    }
    &side-chart-c{
        height: 230px;
        border-bottom: @side-c-w solid @side-c-c;
    }
    &center-charts{
        width: 1174px;
    }
    &center-container{
        width: 1050px;
        margin: 0 auto;
    }
    &show-num{
        width:100%;

        &-l,&-r{
            width:176px;
        }
        &-m{
            width: 698px;
            height: 100px;
            padding-top: 70px;
        }
    }
    &show-dl{
        width:176px;
        height: 66px;
        border: 1px solid @border-color;
        box-shadow: inset 0 0 20px @border-color;
        color:#fff;
        text-align: center;
        position: relative;
            
        .dt-con-b {
            position: absolute;
            z-index: 2;
            width: 150px;
            height: 35px;
            border: 2px solid @border-color;
            left: 13px;
            top: -16px;
            font-size: 18px;
            background: @body-bg;
        }     
        .dt-title{
            display: block;
            height: 35px;
            width: 120px;
            position: absolute;
            left: 14px;
            line-height: 35px;
            background: @body-bg;
            z-index: 2;
            top: -2px;
            text-align: center
        } 
        dd{
            font-size: 26px;
            line-height: 64px;
        }  

    }
    &zy,&bs{
        margin-bottom: 44px;
    }
    &map{
        width: 100%;
        height: 720px;
        margin-top: 50px;

        &-container{
            width: 1050px;
            height: 694px;
            position: relative;
            z-index: 4;
        }
        &-container-border{
            width: 1050px;
            height: 694px;
            position: relative;
            z-index: 4;

            .item-arrow{
                position: absolute;
                width: 26px;
                height: 26px;
                background: url('./../images/L.png');
                background-repeat: no-repeat;
                z-index: 2;
            }
            .a-l-t{
                background-position: 0 0; 
                left: 0;
                top: 0;
            }
            .a-r-t{
                background-position: 0 -26px;
                right: 0;
                top: 0;
            }
            .a-b-r{
                background-position: 0 -52px;
                right: 0;
                bottom: 0;
            }
            .a-b-l{
                background-position: 0 -78px;
                left: 0;
                bottom: 0;
            }
        }
    }
    &maps1,&maps2{
        width: 1050px;
        height: 694px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
    }
    
    
            
}
