/* 定义body颜色 */
@body-bg:#041450;
@border-color:#00b0f0;
@border-width:1px;


body{
    background:@body-bg url('./../images/bg2.png') no-repeat center center;
    background-size: cover;
}
.yb-{
    &container{
        width: 1880px;
        height:1000px;
        border: @border-width solid @border-color;
        border-top:none;
        border: none;
        margin: 40px auto 0;
        position: relative;
        padding: 5px;
    }
    &border{
        width: 1890px;
        height: 1000px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
    &cont-{
        &l{
            height:100%;
            width:380px;
            border-top: @border-width solid @border-color;
            border-top: none;

            .yb-around:last-child{
                border-bottom: none;
            }
        }
        &m{
            width:1110px;
            height:100%;
            border-right :@border-width solid @border-color;
            border-left:@border-width solid @border-color;
        }
        &r{
            height:100%;
            width:380px;
            border-top: @border-width solid @border-color;
            border-top: none;

            .yb-around:last-child{
                border-bottom: none;
            }
        }
    }
    &around {
        width: 370px;
        margin: 5px;
        height: 238px;
        border-bottom: @border-width solid @border-color;
        position: relative;
        z-index: 4;
    }
    &title{
        font-size:46px;
        color:#fff;
        height:90px;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    &show-num{
        width:100%;

        &-l,&-r{
            width:248px;
            margin-top: -50px;
        }
        &-m{
            width: 610px;
            height: 100px;
            /* border: @border-width solid #4f81bd;
            border-radius: 8px;
            box-shadow: 0 0 20px #ab1ccb inset;
            background:#0f2763; */
            padding-top: 12px;
            margin-top: 20px;
        }
    }
    &map{
        width: 1110px;
        height: 720px;

        &-container{
            width: 1076px;
            height: 710px;
            position: relative;
            z-index: 4;
        }
        &-container-border{
            width: 1076px;
            height: 710px;
            margin: 24px auto 0;
            position: relative;
            padding: 20px;
            z-index: 4;

            .item-arrow{
                position: absolute;
                width: 26px;
                height: 26px;
                background: url('./../images/L.png');
                background-repeat: no-repeat;
                z-index: 2;
            }
            .a-l-t{
                background-position: 0 0; 
                left: 0;
                top: 0;
            }
            .a-r-t{
                background-position: 0 -26px;
                right: 0;
                top: 0;
            }
            .a-b-r{
                background-position: 0 -52px;
                right: 0;
                bottom: 0;
            }
            .a-b-l{
                background-position: 0 -78px;
                left: 0;
                bottom: 0;
            }
        }
    }
    &maps1,&maps2{
        width: 1076px;
        height: 710px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
    }
    &show-dl{
        width:220px;
        height: 60px;
        border: 1px solid @border-color;
        box-shadow: inset 0 0 20px @border-color;
        color:#fff;
        text-align: center;
        margin: 10px auto 0;
        position: relative;
            
        .dt-con-b {
            position: absolute;
            z-index: 2;
            width: 150px;
            height: 35px;
            border: 2px solid @border-color;
            left: 36px;
            top: -16px;
            font-size: 18px;
            background: @body-bg;
        }     
        .dt-title{
            display: block;
            height: 35px;
            width: 120px;
            position: absolute;
            left: 14px;
            line-height: 35px;
            background: @body-bg;
            z-index: 2;
            top: -2px;
            text-align: center
        } 
        dd{
            font-size: 26px;
            line-height: 64px;
        }  

    }
    &zy,&bs{
        margin-bottom: 50px;
    }
            
}
