/* 定义body颜色 */
body {
  background: #041450 url('../images/bg2.png') no-repeat center center;
  background-size: cover;
}
.yb-container {
  width: 1880px;
  height: 1000px;
  border: 1px solid #00b0f0;
  border-top: none;
  border: none;
  margin: 40px auto 0;
  position: relative;
  padding: 5px;
}
.yb-border {
  width: 1890px;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.yb-cont-l {
  height: 100%;
  width: 380px;
  border-top: 1px solid #00b0f0;
  border-top: none;
}
.yb-cont-l .yb-around:last-child {
  border-bottom: none;
}
.yb-cont-m {
  width: 1110px;
  height: 100%;
  border-right: 1px solid #00b0f0;
  border-left: 1px solid #00b0f0;
}
.yb-cont-r {
  height: 100%;
  width: 380px;
  border-top: 1px solid #00b0f0;
  border-top: none;
}
.yb-cont-r .yb-around:last-child {
  border-bottom: none;
}
.yb-around {
  width: 370px;
  margin: 5px;
  height: 238px;
  border-bottom: 1px solid #00b0f0;
  position: relative;
  z-index: 4;
}
.yb-title {
  font-size: 46px;
  color: #fff;
  height: 90px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
}
.yb-show-num {
  width: 100%;
}
.yb-show-num-l,
.yb-show-num-r {
  width: 248px;
  margin-top: -50px;
}
.yb-show-num-m {
  width: 610px;
  height: 100px;
  /* border: @border-width solid #4f81bd;
            border-radius: 8px;
            box-shadow: 0 0 20px #ab1ccb inset;
            background:#0f2763; */
  padding-top: 12px;
  margin-top: 20px;
}
.yb-map {
  width: 1110px;
  height: 720px;
}
.yb-map-container {
  width: 1076px;
  height: 710px;
  position: relative;
  z-index: 4;
}
.yb-map-container-border {
  width: 1076px;
  height: 710px;
  margin: 24px auto 0;
  position: relative;
  padding: 20px;
  z-index: 4;
}
.yb-map-container-border .item-arrow {
  position: absolute;
  width: 26px;
  height: 26px;
  background: url('../images/L.png');
  background-repeat: no-repeat;
  z-index: 2;
}
.yb-map-container-border .a-l-t {
  background-position: 0 0;
  left: 0;
  top: 0;
}
.yb-map-container-border .a-r-t {
  background-position: 0 -26px;
  right: 0;
  top: 0;
}
.yb-map-container-border .a-b-r {
  background-position: 0 -52px;
  right: 0;
  bottom: 0;
}
.yb-map-container-border .a-b-l {
  background-position: 0 -78px;
  left: 0;
  bottom: 0;
}
.yb-maps1,
.yb-maps2 {
  width: 1076px;
  height: 710px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}
.yb-show-dl {
  width: 220px;
  height: 60px;
  border: 1px solid #00b0f0;
  -webkit-box-shadow: inset 0 0 20px #00b0f0;
  box-shadow: inset 0 0 20px #00b0f0;
  color: #fff;
  text-align: center;
  margin: 10px auto 0;
  position: relative;
}
.yb-show-dl .dt-con-b {
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 35px;
  border: 2px solid #00b0f0;
  left: 36px;
  top: -16px;
  font-size: 18px;
  background: #041450;
}
.yb-show-dl .dt-title {
  display: block;
  height: 35px;
  width: 120px;
  position: absolute;
  left: 14px;
  line-height: 35px;
  background: #041450;
  z-index: 2;
  top: -2px;
  text-align: center;
}
.yb-show-dl dd {
  font-size: 26px;
  line-height: 64px;
}
.yb-zy,
.yb-bs {
  margin-bottom: 50px;
}
